<div class="marginT-120"></div>
<div class="container container-404">
    <div class="row">
        <div class="col-sm-12  col-lg-6">
            <img id="error" src="/img/covid_cyan.svg">
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="para">
                <strong class="txt" >Ooops...something went wrong!!</strong><br><br>

                <p class="lead">
                    The page you are looking for wants moved,removed,renamed or might never
                    existed .Try another search or go back to <a style="color: #09538b " href="/">Homepage</a>
                </p>
            </div>

        </div>
    </div>
</div>