<div class="marginT-120"></div>
<div class="marginB-30"></div>
<h1 class="txt"><%= Mechanism.h1%></h1>
<div class="marginT-30"></div>
<div class="container">
    <p class="lead">
        <%=Mechanism.p%>
    </p>
</div>