<div class="marginT-120"></div>
<div class="marginB-30"></div>
<h1 class="textAlignCenter">CoronaVirus Resources </h1>
<div class="marginT-30"></div>
<div class="container">


    <h5>Resources</h5>
    <ul>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/page/business-and-non-profit-resources">Businesses and Non-profits Resources </a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/page/kids-and-school-resources">Kids & School Resources</a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/page/child-care">Child Care Resources</a>
            </div>

        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/page/coronavirus-consumer-protection-0">Consumer Protection</a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/page/faith-resources">Faith Organizations Resources</a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/food">Food Resources</a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/page/healthcare-providers">Health Care Providers</a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/page/housing-resources-coronavirus">Housing Resources</a>
            </div>
        </li>
        <li>
            <div>
                <a href="https://coronavirus.dc.gov/node/1468781">Public Resources</a>
            </div>
        </li>

    </ul>
</div>