<div class="marginT-120"></div>
<div class="marginB-30"></div>
<h1 class="txt"><%=Safety.h1%></h1>
<div class="marginT-30"></div>

<div class="container">
  <div class="marginT-30"></div>
  <p class="lead"> <%=Safety.p%> </p>
</div>
